@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotomedium.woff2") format("woff2"),
        url("../fonts/robotomedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff2") format("woff2"),
        url("../fonts/roboto.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotobold.woff2") format("woff2"),
        url("../fonts/robotobold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
  --bg-primary-color: #849D8F;
  --bg-secondary-color: #8996A6;
  --bg-third-color: #9D8B84;
  --primary-font-color: #ffffff;
  --secondary-font-color: #323232;

  --main-font: "Roboto", "Arial", sans-serif;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-primary-color);
  font-family: var(--main-font);
  color: var(--primary-font-color);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.basket-items__image-wrapper {
  width: 33px;
  height: 33px;
}

.hit-items__icecream-img-wrapper,
.icecream-catalog__img-wrapper {
  width: 267px;
  height: 267px;
}

.hit-items__icecream-img-wrapper,
.icecream-catalog__img-wrapper,
.basket-items__image-wrapper {
  border-radius: 50%;
  overflow: hidden;
}
