.cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-font-color;
  background: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 70px;
}
