.new-in-blog {
  background-color: #ffffff;
  color: var(--secondary-font-color);
  border-radius: 16px;
}

.new-in-blog__article-label {
  font-weight: 500;
  line-height: 22px;
}

.new-in-blog__article-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  color: var(--secondary-font-color);
}
