.page-header {
  padding-top: 9px;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__user-block {
  display: flex;
}

.page-header__search {
  display: none;
}

.page-header__search-input {
  display: none;
}

.page-header__login-form {
  display: none;
}

.page-header__schedule-wrapper {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.page-header__schedule {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 8px;
}

.page-header__phone {
  color: $primary-font-color;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
}

.page-header__top-row {
  display: flex;
}
