html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: $bg-primary-color;
  font-family: $main-font;
  color: $primary-font-color;
  font-size: 16px;
  font-weight: normal;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
