:root {
  --bg-primary-color: #849d8f;
  --bg-secondary-color: #8996a6;
  --bg-third-color: #9d8b84;
  --primary-font-color: #ffffff;
  --secondary-font-color: #323232;

  --main-font: "Roboto", "Arial", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-primary-color);
  font-family: var(--main-font);
  color: var(--primary-font-color);
  font-size: 16px;
  font-weight: normal;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
