@import "./font-face";
@import "./global";
@import "./blocks/visually-hidden";
@import "./blocks/container";
@import "./blocks/cta-button";
@import "./blocks/page-header";
@import "./blocks/nav";
@import "./blocks/login";
@import "./blocks/basket";
@import "./blocks/slider";
@import "./blocks/promo";
@import "./blocks/hit-items";
@import "./blocks/about-us";
@import "./blocks/news";
@import "./blocks/new-in-block";
@import "./blocks/contact-us";
@import "./blocks/map";
@import "./blocks/social-list";
@import "./blocks/breadcrumbs";
@import "./blocks/filter-form";
@import "./blocks/pagination";

.login__link,
.basket__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: var(--primary-font-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.hit-items__icecream-img-wrapper,
.icecream-catalog__img-wrapper {
  width: 267px;
  height: 267px;
}

.hit-items__icecream-img-wrapper,
.icecream-catalog__img-wrapper,
.basket__image-wrapper {
  border-radius: 50%;
  overflow: hidden;
}

.hit-items__price,
.icecream-catalog__price {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.hit-items__price--kilograms,
.icecream-catalog__price--kilograms {
  font-size: 30px;
  line-height: 35px;
}

.hit-items__item-title,
.icecream-catalog__item-title {
  color: var(--primary-font-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.hit-items__cta-button,
.icecream-catalog__cta-button {
  display: none;
  width: 200px;
  height: 44px;
}


.footer-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-navigation__link {
  color: var(--primary-font-color);
  font-size: 13px;
  line-height: 18px;
}

.footer-navigation__link--resellers {
  font-weight: bold;
}

.page-footer__developers {
  font-size: 12px;
  line-height: 18px;
}

.page-footer__developers--academy {
  color: var(--primary-font-color);
  text-decoration: underline;
}
