@import "./variables";
@import "./font-face";
@import "./global";
@import "./mixins";
@import "./blocks/main-page";
@import "./blocks/visually-hidden";
@import "./blocks/container";
@import "./blocks/cta-button";
@import "./blocks/page-header";
@import "./blocks/nav";
@import "./blocks/page-header-button";
@import "./blocks/search";
@import "./blocks/login";
@import "./blocks/basket";
@import "./blocks/slider";
@import "./blocks/promo";
@import "./blocks/hit-items";
@import "./blocks/about-us";
@import "./blocks/news";
@import "./blocks/new-in-blog";
@import "./blocks/contact-us";
@import "./blocks/map";
@import "./blocks/page-footer";
@import "./blocks/social-list";
@import "./blocks/breadcrumbs";
@import "./blocks/filter-form";
@import "./blocks/pagination";

.hit-items__icecream-img-wrapper,
.icecream-catalog__img-wrapper {
  width: 267px;
  height: 267px;
}

.hit-items__icecream-img-wrapper,
.icecream-catalog__img-wrapper,
.basket__image-wrapper {
  border-radius: 50%;
  overflow: hidden;
}

.hit-items__price,
.icecream-catalog__price {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.hit-items__price--kilograms,
.icecream-catalog__price--kilograms {
  font-size: 30px;
  line-height: 35px;
}

.hit-items__item-title,
.icecream-catalog__item-title {
  color: $primary-font-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.hit-items__cta-button,
.icecream-catalog__cta-button {
  display: none;
  width: 200px;
  height: 44px;
}
