$bg-primary-color: #849d8f;
$bg-secondary-color: #8996a6;
$bg-third-color: #9d8b84;

$overlay-primary-color: #d7f2e3;
$overlay-secondary-color: #dae4ef;
$overlay-third-color: #efe0da;

$primary-font-color: #ffffff;
$secondary-font-color: #323232;

$main-font: "Roboto", "Arial", sans-serif;
